@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    overflow: auto;
    height: 100%;
    display: flex;
    align-items: start;
    min-height: 100vh;
    background: url('Home.png') no-repeat;
    background-size: cover;
    background-position: center;  
    background-position: center;
}

.welcome-wrapper {
    font-size: 60px;
    color: white;
    position: absolute;
    top: 100px;
    left: 50px;
}

.file-link-container {
    font-size: 30px; 
    position: absolute;
    top: 500px; 
    left: 50px;
}

.user-info-wrapper {
    font-size: 30px; 
    color: white;
    position: absolute;
    top: 300px; 
    left: 50px;
}

.file-link-container a {
    color: white;
}

.website-logo {
    width: 200px;
    height: 200px;
    justify-content: center;
}