@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    overflow: hidden;
    height: 100%;
}

input {
    color-scheme: dark;
}

body {
    overflow: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('img1.png') no-repeat;
    background-size: cover;
    background-position: center;
    
}

.wrapper {
    width: 500px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    overflow: hidden;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;

}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0 20px;
}

.wrapper .dob-text {
    margin-bottom: -20px;
    margin-inline-start: 20px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}



.wrapper .material-symbols-outlined {
    vertical-align: middle;
    font-size: 20px;
    display: inline;
}


.wrapper.weak .indicator::after {
    content: 'Password is weak';
    font-size: 15px;
    color: rgb(145, 8, 54);
    

}

.wrapper.medium .indicator::after {
    content: 'Password is medium';
    font-size: 15px;
    color: rgb(255, 178, 54);
    

}

.wrapper.strong .indicator::after {
    content: 'Password is strong';
    font-size: 15px;
    color: rgb(17, 130, 54);

}



.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15;
}

.remember-forgot label input {
    accent-color: rgb(145, 8, 54);
    margin-right: 3px;
}

.remember-forgot a {
color: #fff;
text-decoration: none;
}

.remember-forgot a:hover {
    color: rgb(145, 8, 54);
}

.remember-forgot a:active {
    opacity: 0.5;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: rgb(145, 8, 54);
    font-weight: 600;
    margin-top: 20px;
    transition: background-color 0.15s, color 0.15s;
}

.btn:hover {
    background-color: rgb(145, 8, 54);
    color: white;
}

.btn:active {
    opacity: 0.5;
}

.wrapper .sign-up-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.sign-up-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.sign-up-link p a:hover {
    color: rgb(145, 8, 54);
}

.sign-up-link p a:active {
    opacity: 0.5;
}


.wrapper .sign-in-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.sign-in-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.sign-in-link p a:hover {
    color: rgb(145, 8, 54);
}

.sign-in-link p a:active {
    opacity: 0.5;
}


.wrapper .go-back-to-login-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.go-back-to-login-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.go-back-to-login-link p a:hover {
    color: rgb(145, 8, 54);
}

.go-back-to-login-link p a:active {
    opacity: 0.5;
}