@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    overflow: auto;
    height: 100%;
    display: flex;
    align-items: start;
    min-height: 100vh;
    background: url('Home.png') no-repeat;
    background-size: cover;
    background-position: center;  
    background-position: center;
}

.welcome-wrapper .welcome-text, .user-info {
    font-size: 40px;
    color: white;
    margin-top: 100px;
    text-align: left;
}

.user-info-wrapper {
    font-size: 22px;
    color: white;
    margin-top: 200px;
}

.file-link-container {
    margin-top: 400px; 
    margin-left: 0px; 
    text-align: left;

}
  
  .file-link-container a {
    color: white;
    font-size: 32px; 
    font-weight: bold;
}

.website-logo {
    width: 200px;
    height: 200px;
    justify-content: center;
}